.footer {
  &__content {
    background-color: #cdfd3b;
    padding: 20px 93px;
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-tablet() {
      flex-direction: column;
      padding: 20px;
      gap: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: $border-black;
  }
}
