.products {
  &__top {
    margin-top: -1px;
    padding: 20px;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 65px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    max-width: 785px;

    @include tablet() {
      padding: 40px 0;
    }

    @include small-tablet() {
      font-size: 45px;
      line-height: 50px;
      padding: 20px;
    }
  }
  &__content {
    position: relative;
    padding-top: 20px;
    margin-top: -1px;
  }
  &__cards {
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    gap: 26px;
  }

  &__cards,
  &__decorative {
    padding: 0 20px 20px;
  }

  &__cover {
    padding: 20px;
  }

  &__phrase {
    border-top: 1px solid $border-black;
    border-bottom: 1px solid $border-black;
  }

  &__decorative {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    align-items: flex-start;

    @include tablet() {
      display: none !important;
    }
  }

  &__round-icon {
    width: 57px;
    height: 57px;
  }

  &__card {
    @include tablet() {
      width: calc(50% - 13px);
    }

    @include small-tablet() {
      width: 100%;
      height: 100%;
    }
  }
}

.product {
  background-image: url(../../img/card-bcg.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 658px;
  padding: 100px 22px 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  @include tablet() {
    min-height: 700px;
  }

  @include small-tablet() {
    min-height: 500px;
  }

  &__title,
  &__characteristic {
    font-weight: 400;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin: 0 0 14px;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
  }

  &__characteristic {
    font-size: 18px;
    line-height: 28px;
  }
}

.scorp__right {
  transform: rotateY(180deg);
}
