<header class="header">
  <div class="container">
    <nav class="header__navigation border-block">
      <button class="btn header__btn header__item"><a class="header__link" href="#">Go back</a></button>
      <a href="#" class="header__item header__link">Story</a>
      <a href="#" class="header__item header__link">Shop</a>
      <a href="#" class="header__logo header__item header__link"><img src="../img/Logo.png" alt="UJJO - Spicy Sauce Landing"></a>
      <a href="#" class="header__item header__link">Contact</a>
      <a href="#" class="header__item header__link">Wholesale</a>
      <button class="btn header__btn header__item"><a class="header__link" href="#">Clone</a></button>
    </nav>
  </div>
</header>
