// base
$content-width: 1397px;
$font-family: "Roboto";
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$light-color: #fff;
$red: #FB4B4D;
$black: #222222;
$border-black: #000000;
