// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/ticker";
@import "./components/products";
@import "./components/story";
@import "./components/banner";
@import "./components/footer";


.container {
  height: 100%;
}

.border-block {
  border: 1px solid $border-black;
}

.flex {
  display: flex;
  justify-content: space-between;

  @include tablet() {
    flex-direction: column;
    // justify-content: center;
  }
}

.site-container {
  @include big-desktop() {
    min-width: 1440px;
  }
  @include tablet() {
    min-width: auto;
  }
}
